.mic {
  display: flex;
  align-items: center;
  gap: 1rem;
  position: absolute;
  top: 34rem;
  left: 0.5rem;
}
.mic > img {
  height: 3rem;
  cursor: pointer;
  filter: grayscale(0%);
  padding: 0.5rem;
  border-left: 0.2rem solid black;
  border-right: 0.2rem solid black;
  border-radius: 45%;
  box-sizing: border-box;
}
.animateMic {
  animation-name: changeColor;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}
@keyframes changeColor {
  0% {
    border-left: 0.2rem solid white;
    border-right: 0.2rem solid white;
  }
  25% {
    border-left: 0.2rem solid black;
    border-right: 0.2rem solid black;
  }
  50% {
    border-left: 0.2rem solid white;
    border-right: 0.2rem solid white;
  }
  75% {
    border-left: 0.2rem solid black;
    border-right: 0.2rem solid black;
  }
  100% {
    border-left: 0.2rem solid white;
    border-right: 0.2rem solid white;
  }
}
.mic > .para > p {
  background-color: black;
  color: white;
  font-size: 2rem;
  font-weight: 500;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0.1rem 0.1rem 0.4rem #333;
}
.showNone {
  display: none;
}
.OnDesktop {
  display: none;
}
@media (min-width: 840px) {
  .OnDesktop {
    display: inline-block;
  }
  .mic {
    top: 48rem;
    left: 1rem;
  }
  .mic > img {
    height: 5rem;
  }
}
