:root {
  --text__color: #66fcf6;
  /* layer Height */
  --layer1__height: 4.1rem;
  --layer2__height: 2.8rem;
  --layer3__height: 2rem;
}

.intro {
  background-color: #0b0c10;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  z-index: 1;
}
/* bg img */
.bg-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  overflow: hidden;
}
.bg-img > img {
  position: absolute;
}
/* layer0 */
.star {
  top: 4rem;
  height: 6rem;
  left: 1rem;
  transition: left 1100ms ease-in-out;
}
/* layer1 --> layer2 --> layer3 */
/* layer 1 */
.layer1 {
  height: var(--layer1__height);
}
.Edmodel {
  bottom: 2rem;
  left: 1rem;
  transition: left 1500ms ease-in-out;
}
.plus {
  top: 14rem;
  left: 9rem;
  transition: left 1500ms ease-in-out;
}
.bgTriangle {
  bottom: 3rem;
  right: 5rem;
  transition: right 1500ms ease-in-out;
}
.dtriangle {
  bottom: -4.5rem;
  right: 1rem;
  transition: right 1500ms ease-in-out;
}
.custom {
  top: 18rem;
  right: 0.1rem;
  transition: right 1500ms ease-in-out;
}
/* layer2 */
.layer2 {
  height: var(--layer2__height);
}
.bgAtom {
  top: 2rem;
  right: 15rem;
  transition: right 1000ms ease-in-out;
}
.hexagon {
  top: 12rem;
  right: 9rem;
  transition: right 1000ms ease-in-out;
}
.bgCircle {
  bottom: 9rem;
  left: 7rem;
  transition: left 1000ms ease-in-out;
}
.bgCross {
  top: 5rem;
  left: 13rem;
  transition: left 1000ms ease-in-out;
}
.hiddenLeaf {
  top: 5rem;
  right: 3rem;
  transition: right 1000ms ease-in-out;
}
/* layer 3 */
.layer3 {
  height: var(--layer3__height);
}
.dragonball {
  top: 6rem;
  right: 12rem;
  transition: right 500ms ease-in-out;
}
.wingsOfFreedom {
  top: 16rem;
  left: 3rem;
  transition: left 500ms ease-in-out;
}
.darkLogo {
  bottom: 9rem;
  right: 10rem;
  transition: right 500ms ease-in-out;
}
/* layer4 */
.bg--small {
  height: 1.2rem;
  filter: invert(16%) sepia(5%) saturate(2925%) hue-rotate(190deg)
    brightness(91%) contrast(91%);
}
/* layer 4 */
.posiStar {
  top: 9rem;
  left: 7rem;
  transition: left 1500ms ease-in-out;
}
.posiBgTriangle {
  top: 15rem;
  right: 4.5rem;
  transition: right 1500ms ease-in-out;
}
/* Header styling */
.intro__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__2 {
  display: flex;
  align-items: center;
}
.header__2 > a {
  text-decoration: none;
  color: var(--text__color);
  transition: color 200ms ease-in;
}
.header__2 > a:hover {
  color: rgba(102, 252, 246, 0.9);
}
/* Drop down Styling */
.dropbtn {
  background-color: var(--text__color);
  color: black;
  padding: 1rem 4rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  border-radius: 2rem;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-left: 0.8rem;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 10rem;
  z-index: 1;
}

.dropdown-content a {
  border-radius: 2rem;
  border: 0.1rem solid var(--text__color);
  color: var(--text__color);
  padding: 1.2rem 2.62rem;
  text-decoration: none;
  display: block;
  white-space: nowrap;
  margin-top: 0.5rem;
  transition: background 500ms ease;
}

.dropdown-content a:hover {
  background-color: var(--text__color);
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: var(--text__color);
}

.header__icon {
  font-size: 3rem !important;
  color: var(--text__color);
}

.intro__ina {
  display: flex;
  flex-direction: column;
  align-items: center;
  widows: 100%;
  gap: 1rem;
  margin-bottom: 2rem;
}
.ina__image {
  height: 10rem;
  width: 10rem;
  border: 0.1rem solid var(--text__color);
  border-radius: 50%;
  background-image: url("./images/me.png");
  background-size: 85%;
  background-repeat: no-repeat;
  background-position: 50% 10%;
}

.ina__aboutme {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  color: var(--text__color);
}
.ina__aboutme > h1 {
  font-size: 2.5rem;
}
.ina__aboutme > p {
  font-size: 1.2rem;
  font-weight: 600;
}
.contactMe {
  color: var(--text__color);
  text-decoration: none;
  font-weight: 600;
  font-size: 1.2rem;
  padding: 1rem 4.5rem;
  border-radius: 2rem;
  border: 0.3rem solid var(--text__color);
  transition: all 350ms ease-in;
}
.contactMe:hover {
  background-color: var(--text__color);
  color: black;
}
.intro__tagline {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  justify-content: center;
  gap: 0.5rem;
}
.quote {
  color: var(--text__color);
  font-size: 1rem;
  font-weight: 600;
}
.eye {
  height: 1.2rem;
  transform: rotate(19deg);
}
/* background shapes for ipad lvl width */
@media (min-width: 768px) {
  /* 2 */
  .star {
    left: 6rem;
  }
  /* layer 1 */
  .layer1 {
    height: var(--layer1__height);
  }
  .Edmodel {
    left: 12rem;
  }
  .plus {
    left: 19rem;
  }
  .bgTriangle {
    right: 15rem;
  }
  .dtriangle {
    right: 11rem;
  }
  .custom {
    right: 1.1rem;
  }
  /* layer 2 */
  .layer2 {
    height: var(--layer2__height);
  }
  .bgAtom {
    right: 26rem;
  }
  .hexagon {
    right: 19rem;
  }
  .bgCircle {
    left: 22rem;
  }
  .bgCross {
    left: 23rem;
  }
  .hiddenLeaf {
    right: 13rem;
  }
  /* layer 3 */
  .layer3 {
    height: var(--layer3__height);
  }
  .dragonball {
    right: 5rem;
  }
  .wingsOfFreedom {
    left: 3rem;
  }
  .darkLogo {
    right: 8rem;
  }
  /* layer 4 */
  .posiStar {
    top: 9rem;
    left: 17rem;
  }
  .posiBgTriangle {
    bottom: 9rem;
    right: 27rem;
  }
  .dropbtn {
    border-radius: 0.3rem;
  }
  .contactMe {
    border-radius: 0.3rem;
  }
}
@media (min-width: 840px) {
  /* 2 */
  .star {
    left: 27rem;
  }
  /* layer 1 */
  .layer1 {
    height: var(--layer1__height);
  }
  .Edmodel {
    left: 32rem;
  }
  .plus {
    left: 39rem;
  }
  .bgTriangle {
    right: 35rem;
  }
  .dtriangle {
    right: 51rem;
  }
  .custom {
    right: 33.1rem;
  }
  /* layer 2 */
  .layer2 {
    height: var(--layer2__height);
  }
  .bgAtom {
    right: 56rem;
  }
  .hexagon {
    right: 59rem;
  }
  .bgCircle {
    left: 52rem;
  }
  .bgCross {
    left: 53rem;
  }
  .hiddenLeaf {
    right: 43rem;
  }
  /* layer 3 */
  .layer3 {
    height: var(--layer3__height);
  }
  .dragonball {
    right: 45rem;
    top: 15rem;
  }
  .wingsOfFreedom {
    left: 33rem;
    top: 30rem;
  }
  .darkLogo {
    right: 55rem;
  }
  /* layer 4 */
  .posiStar {
    top: 19rem;
    left: 60rem;
  }
  .posiBgTriangle {
    top: 30rem;
    right: 417rem;
  }
  .intro__header {
    padding: 0rem 30rem;
  }
  .intro__ina {
    flex-direction: row;
    width: 60.5%;
    gap: 20rem;
    margin: 10rem auto;
    padding-left: 20rem;
  }
  .ina__image {
    height: 16rem;
    width: 16rem;
  }
  .ina__aboutme {
    align-items: flex-start;
  }
  .ina__aboutme > h1 {
    font-size: 4rem;
  }
  .ina__aboutme > p {
    font-size: 1.8rem;
  }
  .quote {
    font-weight: 800;
    font-size: 2rem;
  }
  .contactMe {
    display: inline-block;
    color: var(--text__color);
    text-decoration: none;
    font-weight: 600;
    font-size: 1.2rem;
    padding: 1rem 2.5rem;
    border: 0.3rem solid var(--text__color);
    border-radius: 0.3rem;
    transition: all 350ms ease-in;
  }
  .contactMe:hover {
    background-color: var(--text__color);
    color: black;
  }

  .intro__tagline {
    width: 60.5%;
    margin: 0 auto;
    justify-content: center;
    margin-top: -5rem;
    margin-bottom: 5rem;
    padding-right: 6rem;
    padding-bottom: 1rem;
  }
  .quote {
    margin: 0;
    font-weight: 600;
  }
  .eye {
    height: 2.5rem;
  }
  .intro__tagline:hover .eye {
    transition: transform 2000ms ease-in-out;
    transform: rotate(-360deg);
  }
}
