:root {
  --text__color: #66fcf6;
  /* --text__color: white; */
}

.intro {
  background-image: url("../../images/introMobile.jpg");
  background-position: 0% 58%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
/* Header styling */
.intro__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__2 {
  display: flex;
  align-items: center;
}
.header__2 > a {
  text-decoration: none;
  color: var(--text__color);
  transition: color 200ms ease-in;
}
.header__2 > a:hover {
  color: rgba(102, 252, 246, 0.9);
}
/* Drop down Styling */
.dropbtn {
  background-color: var(--text__color);
  color: black;
  padding: 1rem 4rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  border-radius: 2rem;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-left: 0.8rem;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 10rem;
  z-index: 1;
}

.dropdown-content a {
  border-radius: 2rem;
  border: 0.1rem solid var(--text__color);
  color: var(--text__color);
  padding: 1.2rem 2.62rem;
  text-decoration: none;
  display: block;
  white-space: nowrap;
  margin-top: 0.5rem;
  transition: background 500ms ease;
}

.dropdown-content a:hover {
  background-color: var(--text__color);
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: var(--text__color);
}

.header__icon {
  font-size: 3rem !important;
  color: var(--text__color);
}

.intro__ina {
  display: flex;
  flex-direction: column;
  align-items: center;
  widows: 100%;
  gap: 1rem;
  margin-bottom: 2rem;
}
.ina__image {
  height: 10rem;
  width: 10rem;
  background-color: var(--text__color);
  border-radius: 50%;
  background-image: url("./me.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.ina__aboutme {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  color: var(--text__color);
}
.ina__aboutme > h1 {
  font-size: 2.5rem;
}
.ina__aboutme > p {
  font-size: 1.2rem;
  font-weight: 600;
}
.contactMe {
  color: var(--text__color);
  text-decoration: none;
  font-weight: 600;
  font-size: 1.2rem;
  padding: 1rem 4.5rem;
  border-radius: 2rem;
  border: 0.3rem solid var(--text__color);
  transition: all 350ms ease-in;
}
.contactMe:hover {
  background-color: var(--text__color);
  color: black;
}
.intro__tagline {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  justify-content: center;
  gap: 0.5rem;
}
.quote {
  color: var(--text__color);
  font-size: 1rem;
  font-weight: 600;
}
.eye {
  filter: invert(91%) sepia(13%) saturate(5176%) hue-rotate(160deg)
    brightness(108%) contrast(111%);
  height: 1.2rem;
  transform: rotate(19deg);
}
@media (min-width: 840px) {
  .intro {
    background-position: 0% 55%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .intro__header {
    padding: 0rem 30rem;
  }
  .intro__ina {
    flex-direction: row;
    width: 60.5%;
    gap: 20rem;
    margin: 10rem auto;
    padding-left: 20rem;
  }
  .ina__image {
    height: 16rem;
    width: 16rem;
  }
  .ina__aboutme {
    align-items: flex-start;
  }
  .ina__aboutme > h1 {
    font-size: 4rem;
  }
  .ina__aboutme > p {
    font-size: 1.8rem;
  }
  .quote {
    margin-top: -5rem;
    margin-bottom: 5rem;
    font-weight: 800;
    font-size: 2rem;
  }
  .contactMe {
    display: inline-block;
    color: var(--text__color);
    text-decoration: none;
    font-weight: 600;
    font-size: 1.2rem;
    padding: 1rem 2.5rem;
    border: 0.3rem solid var(--text__color);
    border-radius: 0rem;
    transition: all 350ms ease-in;
  }
  .contactMe:hover {
    background-color: var(--text__color);

    color: black;
  }

  .intro__tagline {
    width: 60.5%;
    margin: 0 auto;
    justify-content: center;
    margin-top: -5rem;
    padding-right: 6rem;
    padding-bottom: 1rem;
  }
  .quote {
    margin: 0;
    font-weight: 600;
  }
  .eye {
    height: 2.5rem;
  }
  .intro__tagline:hover .eye {
    transition: transform 2000ms ease-in-out;
    transform: rotate(360deg);
  }
}
