.myway {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.myway__header {
  margin: 0 auto;
  margin-top: 2rem;
}
.myway__header > h1 {
  font-weight: 900;
  font-size: 2.4rem;
  color: #0b0c10;
  letter-spacing: 0.5rem;
}
.card__holder {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.myway__cards {
  width: 30%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card {
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  background-color: #0b0c10;
  box-shadow: 0rem 0.2rem 1rem rgba(0, 0, 0, 0.6);
  width: 32rem;
  margin-bottom: 2rem;
  padding: 1rem;
}
.card__icon {
  height: 10rem;
  width: 10rem;
  background-color: #66fcf6;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.card__icon > img {
  height: 4rem;
}
.card__icon > p {
  display: none;
}
.myway__info {
  width: 70%;
  margin-right: 1rem;
  color: white;
}
.myway__info h2 {
  font-size: 2rem;
}
.myway__info p {
  font-size: 1.3rem;
  font-weight: 100;
  padding-top: 1rem;
}
@media (min-width: 840px) {
  .myway {
    width: 75%;
    margin: 0 auto;
  }
  .myway__header > h1 {
    letter-spacing: 0.4rem;
    font-size: 3rem;
  }
  .card__holder {
    flex-direction: row;
  }
  .card {
    box-shadow: none;
    flex-direction: column;
    background-color: transparent;
  }
  .card__icon {
    height: 20rem;
    width: 20rem;
    flex-direction: column;
  }
  .card__icon > img {
    height: 7rem;
  }
  .myway__info {
    text-align: center;
    margin-bottom: 1rem;
    color: black;
  }
  .myway__info > p {
    display: none;
    margin-right: 0rem;
  }
  .card__icon > p {
    display: inline-block;
    width: 80%;
    text-align: center;
    margin-top: 1rem;
    font-size: 1.25rem;
    font-weight: 700;
  }
}
